#one
{
width: 20px;
position: absolute;
left:10px;

}
#two
{ 
position: absolute;
left:55px;
width: 20px;
}
#three
{ 
position: absolute;
left:100px;
width: 20px;
}
#four
{ 
position: absolute;
left:145px;
width: 20px;
}
#five
{ 
position: absolute;
left:190px;
width: 20px;
}
#six
{ 
position: absolute;
left:235px;
width: 20px;
}

#btn
{
position: absolute;
top: 200px;
left: 200px;
}
