<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../static/javascript/myjs.js"></script>

</head>
<body>
<div id="drum">
<form>
<div id="cntnr">
<fieldset id="one">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
<fieldset id="two">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
<fieldset id="three">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
<fieldset id="four">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
<fieldset id="five">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
<fieldset id="six">
<input id="11" type="checkbox" name="vehicle" ><br>
<input type="checkbox" name="vehicle" id="12"><br>
<input type="checkbox" name="vehicle" id="13"><br>
<input type="checkbox" name="vehicle" id="14"><br>
<input type="checkbox" name="vehicle"id="15"><br>
<input type="checkbox" name="vehicle" id="16">
</fieldset>
</div>
</form>
</div>
<p id="para"></p> 
<button onclick="myFunction()" id="btn">Try it</button>
</body>
</html>
